.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
/node_modules
.sass-cache
dist/*.map
/example-electron-application/node_modules/
/example-electron-application/dist/win-unpacked/
/example-electron-application/dist/builder-debug.yml
/example-electron-application/dist/builder-effective-config.yaml
